<div class="footer-logo" style="display: flex; align-items: center; gap: 8px; margin-bottom: 0;">
  <img src="{{ '/assets/img/lbl-logo.png' | relative_url }}" alt="LBNL Logo" height="50px">
    <span>Lawrence Berkeley National Laboratory</span>
</div>

<div class="footer-copyright mt-2" style="font-size: 0.8rem; color: #63666a;">
    <p>&copy; {{ "now" | date: "%Y" }} Regents of the University of California.</p>
     <p>Lawrence Berkeley National Laboratory is a U.S. DOE Office of Science national laboratory managed by the University of California.</p>
</div>
